table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11.5px;
}

th {
  border: 1px solid black;
  background: gray;
  text-align: left;
  padding: 5px;
}

td {
  padding: 5px;
  border: 1px solid black;
}

.allekirjoitus {
  width: 30%;
}
